<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hiking, music, and learning are just a few of my hobbies. From backpacking to software development, I always like being involved
                with planning and completing anything I am a part of. In high school, I made the switch to Linux for my main OS, and since then
                have gotten experience with Linux system administration though this.
            </p>
            <p class="paragraph-text justify-text">
                While learning about software development, I noticed an interest in the security of software. Halfway through my
                degree in computer science, there was a change in the curriculum to include a security concentration. As I was
                already planning to take many of the classes involved, I quickly jumped on the opportunity to learn more.
            </p>
        </div>
    </section>
</div>
