<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                I'd love to hear from you! I'm open to collaborations, especially on open source projects. Interesting work opportunity? Shoot. Just want to have a fun conversation? Awesome. 
            </p>
            <p class="paragraph-text justify-text">
                Please feel free to write to me for anything: <a href="mailto:{{ site.email }}">{{ site.email }}</a>. It might take me a day to get back, but rest assured, you'll hear from me.
            </p>
            <p class="paragraph-text justify-text">
                My resume is available here: <a href="/assets/documents/AlexOConnor.pdf">PDF</a>
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="LinkedIn">
                    <a href="https://www.linkedin.com/in/alexander-oc/"><i class="head-icon fab fa-linkedin"></i></a>
                </span>
            </div>
        </div>
    </section>
</div>