
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                       Before high school I had entered the world of software development. Teaching myself with numerous online tools,
                       I have been able to gain exposure and experience with several different languages and tools. With the knowledge
                       gained during my time in high school, and obtaining my degree in computer science, I have been able to gain a deeper
                       understanding of the world of software development. Here are just a few of my skills.
                    </p>
                    <p class="paragraph-text center-align">
                        I have since been able to gain experience with penetration testing tools, such as Burp Suite, IDA Pro, ZAP, and more. I
                        have also been able to gain experience with the OWASP Top 10 and have been able to learn about the different types
                        of attacks that can be performed on a system.
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="93%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>C++</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="98%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Linux</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="94%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Git</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="88%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>PHP</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="91%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="88%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Docker</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="86%">
                            <div class="skillbar-title" style="background: #2980b9"><span>C</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>C#</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="83%">
                            <div class="skillbar-title" style="background: #2980b9"><span>Java</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="78%">
                            <div class="skillbar-title" style="background: #2980b9"><span>OSWAP Top 10</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="68%">
                            <div class="skillbar-title" style="background: #2980b9"><span>IDA Pro</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="65%">
                            <div class="skillbar-title" style="background: #2980b9"><span>Burp Suite</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>