
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                       By day, you'll find me working as a full-stack software engineer, where I use Perl, MySQL, and Docker to maintain and expand a the web server as the company grows.
                       By night, I'm often building Auto Myself - an offline-first mobile app for tracking vehicle maintenance.
                       Outside of coding, I run live audio/visual performances - a craft that demands both technical precision and creative intuition - or spend time with my wife, kid, dog, and snake.
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="93%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Perl</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="98%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Linux</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9"><span>OSWAP Top 10</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="88%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>PHP</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="91%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="92%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Docker</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>React Native</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #2980b9"><span>GoLang</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>